<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "FirstAid" %></title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<!-- Size should be 144 x 144 pixels -->
	<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

	<!-- For iPhone with high-resolution Retina display: -->
	<!-- Size should be 114 x 114 pixels -->
	<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

	<!-- For first- and second-generation iPad: -->
	<!-- Size should be 72 x 72 pixels -->
	<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<!-- Size should be 57 x 57 pixels -->
	<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

	<!-- For all other devices -->
	<!-- Size should be 32 x 32 pixels -->
	<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
	<![endif]-->



</head>
<body>
<div id="wrap">
	<nav class="nav-top navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header">
				<div class="pull-left">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseLeft">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<a class="navbar-brand" href="#">First Aid App</a>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="collapseLeft">
				<ul class="nav navbar-nav">
					<li class="active"><%= link_to "Home", home_index_path  %></li>
					<li><%= link_to "Palliative Care", home_palliative_care_path  %></li>
					<li><%= link_to "How to", home_how_to_path  %></li>
					<li><%= link_to "Survival Guide", home_survival_guide_path  %></li>
				</ul>
			</div>
		</div>
	</nav> <!-- /nav -->

	<main class="container-fluid">
			<div>
				<%= bootstrap_flash %>
				<%= yield %>
			</div>



	</main><!--/row-->

	<footer class="bottom">
		<div class="bottom col-xs-12 navbar-inverse navbar-fixed-bottom">
			<div class="bottom row" id="bottomNav">
				<div class="bottom col-xs-3 text-center"><a class="bottom" href="<%= home_index_url %>"><i class="glyphicon glyphicon glyphicon-home text-white"></i><br>Home</a></div>
				<div class="bottom col-xs-3 text-center"><a class="bottom" href="<%= landing_tasks_url %>"><i class="glyphicon glyphicon glyphicon-time text-white"></i><br>Timers</a></div>
				<div class="bottom col-xs-3 text-center"><a class="bottom" href="<% landing_tasks_path %>"><i class="glyphicon glyphicon glyphicon-dashboard text-white"></i><br>To Do</a></div>
				<div class="bottom col-xs-3 text-center"><a class="bottom" href="<%=searchby_index_url %>"><i class="glyphicon glyphicon glyphicon-search text-white"></i><br>Search</a></div>
			</div>
		</div>

	</footer> <!-- /footer -->
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</div> <!-- /wrapper -->

</body>
</html>
